#img {
    background-color: green; 
    height: 200px; 
    width: 200px; 
}
img {
    height: 250px; 
    width: 250px; 

}
img :hover {
    transform: scale(1.5);
}
.imageContainer {
    width: 80%;
    margin: auto;
}